*{
  all: unset;
  font-family: "Cascadia Code Mono";
  font-size: 16px;
}

#tray menu{
  padding: 3px 3px 3px 3px;
  /*box-shadow: 10px 10px;*/
}

#tray menu menuitem {
  padding: 3px 10px 3px 10px;
  border-radius: 7px;
}

#tray menu menuitem:hover{
  background: rgba(256, 256, 256, 0.04);
}

#workspaces, #language, #battery, #clock, #tray, #tray menu {
  background-color: #232323;
  border-radius: 7px;
} 

#workspaces button {
  padding: 0px 7px 0px 2px;
  margin: 0px 1px 0px 1px;
  /*border-radius: 4px;*/
}

#tray, #clock, #language, #battery, #workspaces{
  padding: 0 8px 0 8px;
}

/*#workspaces button.active {*/
/*  background: rgba(256, 256, 256, 0.04);*/
/*}*/
/**/
/*#workspaces button:hover {*/
/*  background: rgba(256, 256, 256, 0.06);*/
/*}*/
